
.container {
  height:85vh;
  padding-top:10vh;
  padding-left: 38vw;
  display: block;
}
table {
  width: 10em;
  border: 1px solid black;
  margin-top: 10%;
}
button{
  width: 195px ;
  height: 195px ;

}
.red{
  background-color: red;
}
.green{
  background-color: green;
}
.yellow{
  background-color: yellow;
}
.blue{
  background-color: blue;
}
